# Tratamento e limpeza de dados

## Introdução e preliminares

Esse arquivo se destina ao tratamento do _dataset_ original, com o objetivo de facilitar as análises propostas pelo grupo. Algumas bibliotecas serão utilizadas ao longo de todo o arquivo; elas são incluídas aqui. Entre elas, destaca-se a biblioteca "Funcoes", elaborada pelo grupo, que contém funções de utilidade geral.

In [56]:
import pandas as pd
import numpy as np

import Funcoes
from importlib import reload
reload(Funcoes) # carrega eventuais mudanças na biblioteca

O _dataset_ original é lido em um dataframe aqui. Porém, a fim de preservar o acesso aos dados originais, todo o trabalho de limpeza será feito em uma cópia destinada para esse fim.

In [57]:
dfOriginal = pd.read_csv("../Datasets/DadosUFV2022.csv")
dfEmLimpeza = dfOriginal.copy(deep=True)

## Significado e valores de cada coluna

Antes de tratar os dados, é necessário compreender o significado de cada uma das colunas do dataset original; especialmente aquelas que representam algum tipo de categoria ou classificação. Seguem breves explicações para cada uma das colunas, em ordem:
  
* **Ano_Nascimento**: ano de nascimento do aluno;
* **Sexo**: sexo com que o aluno se identifica;
* **Campus**: código do _campus_ em que o aluno estudou;
* **Curso_Identificador**: número do curso do aluno;
* **Curso:** nome do curso por extenso, geralmente prefixado pelo código do _campus_;
* **UF_Nascimento:** sigla de duas letras da unidade federativa em que o aluno nasceu;
* **Municipio_Nascimento:** município em que o aluno nasceu;
* **Admissao:** ano e semestre de admissão do aluno na faculdade;
* **Saida:** ano e semestre de saída do aluno da faculdade;
* **Codigo_Situacao_Aluno:** código de uma letra que indica a situação do aluno na faculdade;
* **Situacao_Aluno:** situação específica do aluno na faculdade, por extenso;
* **Situacao_Aluno_Agrupada:** situação geral do aluno na faculdade (apenas quatro possibilidades), por extenso;
* **Modalidade_Inscrita:** código da modalidade de cota de ingresso do aluno;
* **ENEM:** nota do aluno no Exame Nacional do Ensino Médio;
* **Num_Reprovacoes:** número de reprovações em disciplinas na faculdade;
* **Raca:** identidade racial com que o aluno se identifica;
* **CRA:** coeficiente de rendimento acumulado do aluno.

In [58]:
dfEmLimpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74026 entries, 0 to 74025
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Identificador            74026 non-null  int64
 1   Ano_Nascimento           73949 non-null  float64
 2   Sexo                     73986 non-null  object
 3   Campus                   74026 non-null  object
 4   Curso_Identificador      74026 non-null  int64
 5   Curso                    74026 non-null  object
 6   UF_Nascimento            73971 non-null  object
 7   Municipio_Nascimento     73990 non-null  object
 8   Admissao                 74026 non-null  object
 9   Saida                    74026 non-null  object
 10  Codigo_Situacao_Aluno    74026 non-null  object
 11  Situacao_Aluno           74026 non-null  object
 12  Situacao_Aluno_Agrupada  74026 non-null  object
 13  Modalidade_Inscrita      68753 non-null  float64
 14  ENEM                     39183 non-null  object
 15  Num_Reprovacoes          74026 non-null  int64
 16  Raca                     74026 non-null  object
 17  CRA                      74016 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 10.2+ MB

### Sexo

Os valores possíveis para a coluna Sexo são:

- **F**: alunos que se consideram do sexo feminino;
- **M**: alunos que se consideram do sexo masculino;
- **nan**: outras identificações ou informação ausente.

In [59]:
dfEmLimpeza["Sexo"].value_counts()

Sexo
F    37032
M    36954
Name: count, dtype: int64

### Campus

Os códigos de _campus_ existentes são:

- **CAV**: Viçosa;
- **CRP**: Rio Paranaíba;
- **CAF**: Florestal.

In [60]:
dfEmLimpeza["Campus"].value_counts()

Campus
CAV    60339
CRP     8413
CAF     5274
Name: count, dtype: int64

### Código de Situação do Aluno

Cada letra na coluna de código de situação do aluno possui um significado específico, que é explicitado abaixo.

| Símbolo    | Significado |
| -------- | ------- |
| A | Abandono |
| B | Concluiu, mas não colou grau |
| C | Conclusão |
| D | Desligamento |
| F | Falecimento |
| G | Afastamento/intercâmbio |
| H | Habilitação |
| I | Concluiu, mas o relatório não foi analisado |
| J | Matrícula temporariamente suspensa |
| K | Trancamento |
| M | Mudança de curso |
| N | Normal |
| Q | Matrícula condicional (desligamento reconsiderado) |
| R | Afastamento (desligamento reconsiderado) |
| T | Transferência |
| S | Anulamento de matrícula |
| W | Afastamento especial |
| X | Exclusão |
| Y | Afastamento |
| Z | Trancamento por motivo de saúde |

In [61]:
dfEmLimpeza["Codigo_Situacao_Aluno"].value_counts()

Codigo_Situacao_Aluno
C    31359
A    16695
N    13436
D     6354
M     5239
T      364
K      323
Z       52
G       49
W       45
F       41
B       20
X       18
S        8
I        6
Y        6
Q        4
J        3
R        2
H        2
Name: count, dtype: int64

### Modalidade de inscrição

Cada combinação distinta de cotas é representada por um número inteiro distinto. As explicações para cada um deles estão dispostas na tabela abaixo.

| Código numérico    | Significado |
| ---------- | ----------|
| 0 | Não possui informação sobre as cotas |
| 1 | Candidatos com deficiência autodeclarados pretos, pardos ou indígenas, que tenham renda familiar bruta per capita igual ou inferior a 1,5 salário mínimo e que tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012) |
| 2 | Candidatos autodeclarados pretos, pardos ou indígenas, com renda familiar bruta per capita igual ou inferior a 1,5 salário mínimo e que tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012).|
| 3 |  Candidatos com deficiência que tenham renda familiar bruta per capita igual ou inferior a 1,5 salário mínimo e que tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012).|
| 4 | Candidatos com renda familiar bruta per capita igual ou inferior a 1,5 salário mínimo que tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012). |
| 5 | Candidatos com deficiência autodeclarados pretos, pardos ou indígenas que, independentemente da renda (art. 14, II, Portaria Normativa nº 18/2012), tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012). |
| 6 | Candidatos autodeclarados pretos, pardos ou indígenas que, independentemente da renda (art. 14, II, Portaria Normativa nº 18/2012), tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012).|
| 7 | Candidatos com deficiência que, independentemente da renda (art. 14, II, Portaria Normativa nº 18/2012), tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012).|
| 8 | Candidatos que, independentemente da renda (art. 14, II, Portaria Normativa nº 18/2012), tenham cursado integralmente o ensino médio em escolas públicas (Lei nº 12.711/2012).|
| 9 |  Ampla Concorrência |

In [62]:
dfEmLimpeza["Modalidade_Inscrita"].value_counts()

Modalidade_Inscrita
0.0    32901
9.0    19495
1.0     4884
5.0     4629
3.0     3348
7.0     3281
8.0       86
4.0       54
6.0       45
2.0       30
Name: count, dtype: int64

## Conversões de tipo de colunas

Algumas colunas são lidas do CSV com tipos inadequados para a limpeza. Portanto, antes de realizar o tratamento propriamente dito, faz-se necessário converter o tipo de algumas colunas para aquilo que se espera.

### Notas do ENEM

In [63]:
dfEmLimpeza['ENEM'] = dfEmLimpeza['ENEM'].str.replace(',', '.', regex=False)
dfEmLimpeza['ENEM'] = dfEmLimpeza['ENEM'].astype('float64')
dfEmLimpeza['ENEM'].sort_values()

73002    253.24
65759    273.94
69565    276.62
72140    300.14
45139    307.18
          ...
74021       NaN
74022       NaN
74023       NaN
74024       NaN
74025       NaN
Name: ENEM, Length: 74026, dtype: float64

### Coeficiente de rendimento acumulado (CRA)

In [64]:
dfEmLimpeza['CRA'] = dfEmLimpeza['CRA'].astype(str).str.replace(',', '.', regex=False)
dfEmLimpeza['CRA'] = dfEmLimpeza['CRA'].astype('float64')
dfEmLimpeza['CRA']

0         0.0
1        71.2
2        78.5
3        56.0
4        76.9
         ...
74021     0.0
74022     NaN
74023     NaN
74024     NaN
74025     0.0
Name: CRA, Length: 74026, dtype: float64

### Modalidade de Inscrição

In [65]:
dfEmLimpeza['Modalidade_Inscrita'] = dfEmLimpeza['Modalidade_Inscrita'].astype(str).replace(',', '.', regex=False)
dfEmLimpeza['Modalidade_Inscrita'] = dfEmLimpeza['Modalidade_Inscrita'].astype('float64')
dfEmLimpeza["Modalidade_Inscrita"].value_counts()

Modalidade_Inscrita
0.0    32901
9.0    19495
1.0     4884
5.0     4629
3.0     3348
7.0     3281
8.0       86
4.0       54
6.0       45
2.0       30
Name: count, dtype: int64

### Demais colunas

In [66]:
def ColocaTipoStr(df, colunas):
    for i in colunas:
        df[i] = df[i].astype("string")

colunas = [ 'Sexo', 'Campus', 'Curso', 'UF_Nascimento', 'Municipio_Nascimento', 'Admissao', 
           'Saida', 'Codigo_Situacao_Aluno', 'Situacao_Aluno', 'Situacao_Aluno_Agrupada', 'Raca' ]
ColocaTipoStr(dfEmLimpeza, colunas)
dfEmLimpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74026 entries, 0 to 74025
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Identificador            74026 non-null  int64
 1   Ano_Nascimento           73949 non-null  float64
 2   Sexo                     73986 non-null  string
 3   Campus                   74026 non-null  string
 4   Curso_Identificador      74026 non-null  int64
 5   Curso                    74026 non-null  string
 6   UF_Nascimento            73971 non-null  string
 7   Municipio_Nascimento     73990 non-null  string
 8   Admissao                 74026 non-null  string
 9   Saida                    74026 non-null  string
 10  Codigo_Situacao_Aluno    74026 non-null  string
 11  Situacao_Aluno           74026 non-null  string
 12  Situacao_Aluno_Agrupada  74026 non-null  string
 13  Modalidade_Inscrita      68753 non-null  float64
 14  ENEM                     39183 non-null  float64
 15  Num_Reprovacoes          74026 non-null  int64
 16  Raca                     74026 non-null  string
 17  CRA                      74016 non-null  float64
dtypes: float64(4), int64(3), string(11)
memory usage: 10.2 MB

## Tratamento dos dados

### Nomes dos cursos

Alguns cursos apareciam com mais de um nome distinto; esses foram tratados para passarem a ser representados por um único nome. Outra modificação feita foi a remoção do identificador do _campus_ (redundante devido à presença da coluna _campus_) e outros qualificadores irrelevantes para as análises do grupo, como o turno (integral, noturno ou diurno) e a modalidade (licenciatura ou bacharelado). Por fim, todas as letras foram capitalizadas e os acentos foram removidos, para eliminar qualquer fonte de ambiguidade decorrente da capitalização ou acentuação.

In [67]:

# Retira o qualificador de campus
dfEmLimpeza['Curso'] = dfEmLimpeza['Curso'].str.replace('CAV - ', '').str.strip()
dfEmLimpeza['Curso'] = dfEmLimpeza['Curso'].str.replace('CAF - ', '').str.strip()
dfEmLimpeza['Curso'] = dfEmLimpeza['Curso'].str.replace('CRP - ', '').str.strip()

# Retira o qualificador de turno
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace(" - Noturno", '')
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace(" - Integral", '')

# Retira o qualificador de modalidade (licenciatura e bacharelado)
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace("Licenciatura em ", '')
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace("Bacharelado em ", '')
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace(" - Licenciatura", '')

# Casos específicos de cursos duplicados
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace("LICENCIATURA EM FISICA", 'Física')
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace("Biologia", 'Ciências Biológicas')
dfEmLimpeza['Curso'] = dfEmLimpeza["Curso"].str.replace("LETRAS", 'Letras')

# Capitalização e remoção de acentos
Funcoes.removerAcentos_PorMaiusculas(dfEmLimpeza, 'Curso')
dfEmLimpeza['Curso'].value_counts()

Curso
AGRONOMIA                                                       7370
ADMINISTRACAO                                                   4484
CIENCIAS BIOLOGICAS                                             3247
QUIMICA                                                         2920
EDUCACAO FISICA                                                 2792
ENGENHARIA CIVIL                                                2297
ENGENHARIA DE ALIMENTOS                                         2252
MATEMATICA                                                      2039
ZOOTECNIA                                                       1974
CIENCIAS CONTABEIS                                              1861
FISICA                                                          1831
ENGENHARIA DE PRODUCAO                                          1778
NUTRICAO                                                        1762
PEDAGOGIA                                                       1717
ENGENHARIA FLORESTAL                                            1651
CIENCIA DA COMPUTACAO                                           1649
GEOGRAFIA                                                       1637
HISTORIA                                                        1579
DIREITO                                                         1579
MEDICINA VETERINARIA                                            1539
LETRAS                                                          1486
SISTEMAS DE INFORMACAO                                          1449
CIENCIAS ECONOMICAS                                             1264
ENGENHARIA AGRICOLA E AMBIENTAL                                 1222
NORMAL SUPERIOR                                                 1152
CIENCIAS SOCIAIS                                                1140
BIOQUIMICA                                                      1095
ENGENHARIA AMBIENTAL                                            1095
ENGENHARIA ELETRICA                                             1047
ARQUITETURA E URBANISMO                                         1005
ECONOMIA DOMESTICA                                              1003
COMUNICACAO SOCIAL                                               995
ENFERMAGEM                                                       845
CIENCIA E TECNOLOGIA DE LATICINIOS                               827
EDUCACAO INFANTIL                                                811
ENGENHARIA DE AGRIMENSURA E CARTOGRAFICA                         759
ENGENHARIA MECANICA                                              750
ENGENHARIA QUIMICA                                               730
MEDICINA                                                         712
EDUCACAO DO CAMPO - CIENCIAS DA NATUREZA                         702
COOPERATIVISMO                                                   673
SECRETARIADO EXECUTIVO TRILINGUE, PORTUGUES, FRANCES, INGLES     605
TECNOLOGIA EM GESTAO AMBIENTAL                                   603
CIENCIA E TECNOLOGIA DE ALIMENTOS                                593
DANCA                                                            513
AGRONEGOCIO                                                      493
GESTAO DO AGRONEGOCIO                                            408
SERVICO SOCIAL                                                   374
GESTAO DE COOPERATIVAS                                           350
ENGENHARIA DE AGRIMENSURA                                        317
HISTORIA - EAD                                                   307
MATEMATICA - EAD                                                 243
CIENCIAS ECONOMICAS - ENFASE EM ECONOMIA                         185
TECNOLOGIA EM ANALISE E DESENVOLVIMENTO DE SISTEMAS              160
CIENCIAS ECONOMICAS - ENFASE EM AGRONEGOCIO                      120
ADMINISTRACAO - HABILITACAO EM ADMINISTRACAO DE COOPERATIVAS      35
Name: count, dtype: int64

### Criação da coluna de Área de Conhecimento

Percebeu-se que a quantidade de valores distintos de curso seria um complicador nas análises baseadas nesse dado. Portanto, para permitir que as análises trabalhem com menos valores distintos, de modo a produzir resultados mais claros, optou-se pela criação de uma nova coluna chamada Área de Conhecimento. Essa coluna agrupa os cursos por área, simplificando as análises.

Isso foi feito criando um CSV separado com a associação entre cursos e áreas.

In [68]:
dfAreasDeConhecimento = pd.read_csv('../Datasets/AreasECursos.csv')
Funcoes.removerAcentos_PorMaiusculas(dfAreasDeConhecimento, 'Area')
Funcoes.removerAcentos_PorMaiusculas(dfAreasDeConhecimento, 'Curso')
dfAreasDeConhecimento

,Area,Curso
0,CIENCIAS EXATAS E DA TERRA,MATEMATICA
1,CIENCIAS EXATAS E DA TERRA,ESTATISTICA
2,CIENCIAS EXATAS E DA TERRA,CIENCIA DA COMPUTACAO
3,CIENCIAS EXATAS E DA TERRA,ASTRONOMIA
4,CIENCIAS EXATAS E DA TERRA,FISICA
...,...,...
96,LINGUISTICA LETRAS E ARTES,CINEMA
97,LINGUISTICA LETRAS E ARTES,FOTOGRAFIA
98,LINGUISTICA LETRAS E ARTES,SECRETARIADO EXECUTIVO TRILINGUE PORTUGUES FRA...
99,EDUCACAO,PEDAGOGIA
100,INTERDISCIPLINARES,ECONOMIA DOMESTICA

Após alguma filtragem extra na coluna de cursos do _dataset_, foi possível combiná-lo com a tabela disposta acima para criar a nova coluna desejada. Essa combinação foi feita por meio da função `merge`, análoga ao operador `join` da linguagem SQL.

In [69]:
# Casos especiais que requerem filtragem extra da coluna de cursos
dfEmLimpeza[~dfEmLimpeza['Curso'].isin(dfAreasDeConhecimento['Curso'])]['Curso'].unique()

array(['SECRETARIADO EXECUTIVO TRILINGUE, PORTUGUES, FRANCES, INGLES'],
      dtype=object)

In [70]:
# Filtrando para viabilizar a classificação desses casos especiais
dfEmLimpeza['Curso'] = dfEmLimpeza['Curso'].str.replace(',','')
dfEmLimpeza[~dfEmLimpeza['Curso'].isin(dfAreasDeConhecimento['Curso'])]['Curso'].unique()

# Operação análoga ao LEFT JOIN. Preservando os dados do dataframe de limpeza e
# junta com os dados do dataframe de curso por area
dfEmLimpeza = dfEmLimpeza.merge(dfAreasDeConhecimento, on='Curso', how='left')
dfEmLimpeza
# dfEmLimpeza[['Curso', 'Area']]

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA,Area
0,29271,1982.0,M,CAV,1101,ADMINISTRACAO,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS SOCIAIS APLICADAS
1,29272,1982.0,M,CAV,1101,ADMINISTRACAO,DF,Brasília,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3,Informação não disponível,71.2,CIENCIAS SOCIAIS APLICADAS
2,34462,1979.0,F,CAV,1101,ADMINISTRACAO,MG,Viçosa,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3,Informação não disponível,78.5,CIENCIAS SOCIAIS APLICADAS
3,34468,1979.0,F,CAV,1101,ADMINISTRACAO,MG,Belo Horizonte,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20,Pardo(a),56.0,CIENCIAS SOCIAIS APLICADAS
4,34470,1980.0,F,CAV,1101,ADMINISTRACAO,SP,São Paulo,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1,Informação não disponível,76.9,CIENCIAS SOCIAIS APLICADAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,172112,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE
74022,172110,1995.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74023,172113,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74024,172114,1998.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74025,172082,2000.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE

### Municípios de nascimento

A coluna dos munícipios de nascimento é uma das colunas mais poluídas no _dataset_ original. Por isso, foram aplicadas várias técnicas para a limpeza. Utilizou-se um CSV separado com os nomes corretos de todas as cidades brasileiras, obtido [nesse repositório](https://github.com/magnobiet/states-cities-brazil/blob/main/CSV/cities.csv). Todos os nomes de municípios no _dataset_ foram capitalizados e tiveram os acentos removidos. Casos particulares de ambiguidade foram corrigidos especificamente. Por fim, os nomes no _dataset_ foram comparados com aqueles no CSV supracitado, e os que não se encaixavam foram substituídos por 'OUTROS'

In [71]:
# CSV com os nomes de todas as cidades brasileiras. Os nomes foram capitalizados e tiveram seus
# acentos removidos, por compatibilidade com o nosso tratamento
dfCidadesOriginal = pd.read_csv('../Datasets/cities.csv')
Funcoes.removerAcentos_PorMaiusculas(dfCidadesOriginal, 'name')
cidades = list(dfCidadesOriginal['name']) 
cidades.append('NAN')
cidades = np.array(cidades)
list(cidades)

['ALTA FLORESTA D`OESTE',
 'ARIQUEMES',
 'CABIXI',
 'CACOAL',
 'CEREJEIRAS',
 'COLORADO DO OESTE',
 'CORUMBIARA',
 'COSTA MARQUES',
 'ESPIGAO D`OESTE',
 'GUAJARA-MIRIM',
 'JARU',
 'JI-PARANA',
 'MACHADINHO D`OESTE',
 'NOVA BRASILANDIA D`OESTE',
 'OURO PRETO DO OESTE',
 'PIMENTA BUENO',
 'PORTO VELHO',
 'PRESIDENTE MEDICI',
 'RIO CRESPO',
 'ROLIM DE MOURA',
 'SANTA LUZIA D`OESTE',
 'VILHENA',
 'SAO MIGUEL DO GUAPORE',
 'NOVA MAMORE',
 'ALVORADA D`OESTE',
 'ALTO ALEGRE DOS PARECIS',
 'ALTO PARAISO',
 'BURITIS',
 'NOVO HORIZONTE DO OESTE',
 'CACAULANDIA',
 'CAMPO NOVO DE RONDONIA',
 'CANDEIAS DO JAMARI',
 'CASTANHEIRAS',
 'CHUPINGUAIA',
 'CUJUBIM',
 'GOVERNADOR JORGE TEIXEIRA',
 'ITAPUA DO OESTE',
 'MINISTRO ANDREAZZA',
 'MIRANTE DA SERRA',
 'MONTE NEGRO',
 'NOVA UNIAO',
 'PARECIS',
 'PIMENTEIRAS DO OESTE',
 'PRIMAVERA DE RONDONIA',
 'SAO FELIPE D`OESTE',
 'SAO FRANCISCO DO GUAPORE',
 'SERINGUEIRAS',
 'TEIXEIROPOLIS',
 'THEOBROMA',
 'URUPA',
 'VALE DO ANARI',
 'VALE DO PARAISO',
 'ACRELANDIA',
 'ASSIS BRASIL',
 'BRASILEIA',
 'BUJARI',
 'CAPIXABA',
 'CRUZEIRO DO SUL',
 'EPITACIOLANDIA',
 'FEIJO',
 'JORDAO',
 'MANCIO LIMA',
 'MANOEL URBANO',
 'MARECHAL THAUMATURGO',
 'PLACIDO DE CASTRO',
 'PORTO WALTER',
 'RIO BRANCO',
 'RODRIGUES ALVES',
 'SANTA ROSA DO PURUS',
 'SENADOR GUIOMARD',
 'SENA MADUREIRA',
 'TARAUACA',
 'XAPURI',
 'PORTO ACRE',
 'ALVARAES',
 'AMATURA',
 'ANAMA',
 'ANORI',
 'APUI',
 'ATALAIA DO NORTE',
 'AUTAZES',
 'BARCELOS',
 'BARREIRINHA',
 'BENJAMIN CONSTANT',
 'BERURI',
 'BOA VISTA DO RAMOS',
 'BOCA DO ACRE',
 'BORBA',
 'CAAPIRANGA',
 'CANUTAMA',
 'CARAUARI',
 'CAREIRO',
 'CAREIRO DA VARZEA',
 'COARI',
 'CODAJAS',
 'EIRUNEPE',
 'ENVIRA',
 'FONTE BOA',
 'GUAJARA',
 'HUMAITA',
 'IPIXUNA',
 'IRANDUBA',
 'ITACOATIARA',
 'ITAMARATI',
 'ITAPIRANGA',
 'JAPURA',
 'JURUA',
 'JUTAI',
 'LABREA',
 'MANACAPURU',
 'MANAQUIRI',
 'MANAUS',
 'MANICORE',
 'MARAA',
 'MAUES',
 'NHAMUNDA',
 'NOVA OLINDA DO NORTE',
 'NOVO AIRAO',
 'NOVO ARIPUANA',
 'PARINTINS',
 'PAUINI',
 'PRESIDENTE FIGUEIREDO',
 'RIO PRETO DA EVA',
 'SANTA ISABEL DO RIO NEGRO',
 'SANTO ANTONIO DO ICA',
 'SAO GABRIEL DA CACHOEIRA',
 'SAO PAULO DE OLIVENCA',
 'SAO SEBASTIAO DO UATUMA',
 'SILVES',
 'TABATINGA',
 'TAPAUA',
 'TEFE',
 'TONANTINS',
 'UARINI',
 'URUCARA',
 'URUCURITUBA',
 'AMAJARI',
 'ALTO ALEGRE',
 'BOA VISTA',
 'BONFIM',
 'CANTA',
 'CARACARAI',
 'CAROEBE',
 'IRACEMA',
 'MUCAJAI',
 'NORMANDIA',
 'PACARAIMA',
 'RORAINOPOLIS',
 'SAO JOAO DA BALIZA',
 'SAO LUIZ',
 'UIRAMUTA',
 'ABAETETUBA',
 'ABEL FIGUEIREDO',
 'ACARA',
 'AFUA',
 'AGUA AZUL DO NORTE',
 'ALENQUER',
 'ALMEIRIM',
 'ALTAMIRA',
 'ANAJAS',
 'ANANINDEUA',
 'ANAPU',
 'AUGUSTO CORREA',
 'AURORA DO PARA',
 'AVEIRO',
 'BAGRE',
 'BAIAO',
 'BANNACH',
 'BARCARENA',
 'BELEM',
 'BELTERRA',
 'BENEVIDES',
 'BOM JESUS DO TOCANTINS',
 'BONITO',
 'BRAGANCA',
 'BRASIL NOVO',
 'BREJO GRANDE DO ARAGUAIA',
 'BREU BRANCO',
 'BREVES',
 'BUJARU',
 'CACHOEIRA DO PIRIA',
 'CACHOEIRA DO ARARI',
 'CAMETA',
 'CANAA DOS CARAJAS',
 'CAPANEMA',
 'CAPITAO POCO',
 'CASTANHAL',
 'CHAVES',
 'COLARES',
 'CONCEICAO DO ARAGUAIA',
 'CONCORDIA DO PARA',
 'CUMARU DO NORTE',
 'CURIONOPOLIS',
 'CURRALINHO',
 'CURUA',
 'CURUCA',
 'DOM ELISEU',
 'ELDORADO DOS CARAJAS',
 'FARO',
 'FLORESTA DO ARAGUAIA',
 'GARRAFAO DO NORTE',
 'GOIANESIA DO PARA',
 'GURUPA',
 'IGARAPE-ACU',
 'IGARAPE-MIRI',
 'INHANGAPI',
 'IPIXUNA DO PARA',
 'IRITUIA',
 'ITAITUBA',
 'ITUPIRANGA',
 'JACAREACANGA',
 'JACUNDA',
 'JURUTI',
 'LIMOEIRO DO AJURU',
 'MAE DO RIO',
 'MAGALHAES BARATA',
 'MARABA',
 'MARACANA',
 'MARAPANIM',
 'MARITUBA',
 'MEDICILANDIA',
 'MELGACO',
 'MOCAJUBA',
 'MOJU',
 'MOJUI DOS CAMPOS',
 'MONTE ALEGRE',
 'MUANA',
 'NOVA ESPERANCA DO PIRIA',
 'NOVA IPIXUNA',
 'NOVA TIMBOTEUA',
 'NOVO PROGRESSO',
 'NOVO REPARTIMENTO',
 'OBIDOS',
 'OEIRAS DO PARA',
 'ORIXIMINA',
 'OUREM',
 'OURILANDIA DO NORTE',
 'PACAJA',
 'PALESTINA DO PARA',
 'PARAGOMINAS',
 'PARAUAPEBAS',
 'PAU D`ARCO',
 'PEIXE-BOI',
 'PICARRA',
 'PLACAS',
 'PONTA DE PEDRAS',
 'PORTEL',
 'PORTO DE MOZ',
 'PRAINHA',
 'PRIMAVERA',
 'QUATIPURU',
 'REDENCAO',
 'RIO MARIA',
 'RONDON DO PARA',
 'RUROPOLIS',
 'SALINOPOLIS',
 'SALVATERRA',
 'SANTA BARBARA DO PARA',
 'SANTA CRUZ DO ARARI',
 'SANTA ISABEL DO PARA',
 'SANTA LUZIA DO PARA',
 'SANTA MARIA DAS BARREIRAS',
 'SANTA MARIA DO PARA',
 'SANTANA DO ARAGUAIA',
 'SANTAREM',
 'SANTAREM NOVO',
 'SANTO ANTONIO DO TAUA',
 'SAO CAETANO DE ODIVELAS',
 'SAO DOMINGOS DO ARAGUAIA',
 'SAO DOMINGOS DO CAPIM',
 'SAO FELIX DO XINGU',
 'SAO FRANCISCO DO PARA',
 'SAO GERALDO DO ARAGUAIA',
 'SAO JOAO DA PONTA',
 'SAO JOAO DE PIRABAS',
 'SAO JOAO DO ARAGUAIA',
 'SAO MIGUEL DO GUAMA',
 'SAO SEBASTIAO DA BOA VISTA',
 'SAPUCAIA',
 'SENADOR JOSE PORFIRIO',
 'SOURE',
 'TAILANDIA',
 'TERRA ALTA',
 'TERRA SANTA',
 'TOME-ACU',
 'TRACUATEUA',
 'TRAIRAO',
 'TUCUMA',
 'TUCURUI',
 'ULIANOPOLIS',
 'URUARA',
 'VIGIA',
 'VISEU',
 'VITORIA DO XINGU',
 'XINGUARA',
 'SERRA DO NAVIO',
 'AMAPA',
 'PEDRA BRANCA DO AMAPARI',
 'CALCOENE',
 'CUTIAS',
 'FERREIRA GOMES',
 'ITAUBAL',
 'LARANJAL DO JARI',
 'MACAPA',
 'MAZAGAO',
 'OIAPOQUE',
 'PORTO GRANDE',
 'PRACUUBA',
 'SANTANA',
 'TARTARUGALZINHO',
 'VITORIA DO JARI',
 'ABREULANDIA',
 'AGUIARNOPOLIS',
 'ALIANCA DO TOCANTINS',
 'ALMAS',
 'ALVORADA',
 'ANANAS',
 'ANGICO',
 'APARECIDA DO RIO NEGRO',
 'ARAGOMINAS',
 'ARAGUACEMA',
 'ARAGUACU',
 'ARAGUAINA',
 'ARAGUANA',
 'ARAGUATINS',
 'ARAPOEMA',
 'ARRAIAS',
 'AUGUSTINOPOLIS',
 'AURORA DO TOCANTINS',
 'AXIXA DO TOCANTINS',
 'BABACULANDIA',
 'BANDEIRANTES DO TOCANTINS',
 'BARRA DO OURO',
 'BARROLANDIA',
 'BERNARDO SAYAO',
 'BOM JESUS DO TOCANTINS',
 'BRASILANDIA DO TOCANTINS',
 'BREJINHO DE NAZARE',
 'BURITI DO TOCANTINS',
 'CACHOEIRINHA',
 'CAMPOS LINDOS',
 'CARIRI DO TOCANTINS',
 'CARMOLANDIA',
 'CARRASCO BONITO',
 'CASEARA',
 'CENTENARIO',
 'CHAPADA DE AREIA',
 'CHAPADA DA NATIVIDADE',
 'COLINAS DO TOCANTINS',
 'COMBINADO',
 'CONCEICAO DO TOCANTINS',
 'COUTO MAGALHAES',
 'CRISTALANDIA',
 'CRIXAS DO TOCANTINS',
 'DARCINOPOLIS',
 'DIANOPOLIS',
 'DIVINOPOLIS DO TOCANTINS',
 'DOIS IRMAOS DO TOCANTINS',
 'DUERE',
 'ESPERANTINA',
 'FATIMA',
 'FIGUEIROPOLIS',
 'FILADELFIA',
 'FORMOSO DO ARAGUAIA',
 'FORTALEZA DO TABOCAO',
 'GOIANORTE',
 'GOIATINS',
 'GUARAI',
 'GURUPI',
 'IPUEIRAS',
 'ITACAJA',
 'ITAGUATINS',
 'ITAPIRATINS',
 'ITAPORA DO TOCANTINS',
 'JAU DO TOCANTINS',
 'JUARINA',
 'LAGOA DA CONFUSAO',
 'LAGOA DO TOCANTINS',
 'LAJEADO',
 'LAVANDEIRA',
 'LIZARDA',
 'LUZINOPOLIS',
 'MARIANOPOLIS DO TOCANTINS',
 'MATEIROS',
 'MAURILANDIA DO TOCANTINS',
 'MIRACEMA DO TOCANTINS',
 'MIRANORTE',
 'MONTE DO CARMO',
 'MONTE SANTO DO TOCANTINS',
 'PALMEIRAS DO TOCANTINS',
 'MURICILANDIA',
 'NATIVIDADE',
 'NAZARE',
 'NOVA OLINDA',
 'NOVA ROSALANDIA',
 'NOVO ACORDO',
 'NOVO ALEGRE',
 'NOVO JARDIM',
 'OLIVEIRA DE FATIMA',
 'PALMEIRANTE',
 'PALMEIROPOLIS',
 'PARAISO DO TOCANTINS',
 'PARANA',
 'PAU D`ARCO',
 'PEDRO AFONSO',
 'PEIXE',
 'PEQUIZEIRO',
 'COLMEIA',
 'PINDORAMA DO TOCANTINS',
 'PIRAQUE',
 'PIUM',
 'PONTE ALTA DO BOM JESUS',
 'PONTE ALTA DO TOCANTINS',
 'PORTO ALEGRE DO TOCANTINS',
 'PORTO NACIONAL',
 'PRAIA NORTE',
 'PRESIDENTE KENNEDY',
 'PUGMIL',
 'RECURSOLANDIA',
 'RIACHINHO',
 'RIO DA CONCEICAO',
 'RIO DOS BOIS',
 'RIO SONO',
 'SAMPAIO',
 'SANDOLANDIA',
 'SANTA FE DO ARAGUAIA',
 'SANTA MARIA DO TOCANTINS',
 'SANTA RITA DO TOCANTINS',
 'SANTA ROSA DO TOCANTINS',
 'SANTA TEREZA DO TOCANTINS',
 'SANTA TEREZINHA DO TOCANTINS',
 'SAO BENTO DO TOCANTINS',
 'SAO FELIX DO TOCANTINS',
 'SAO MIGUEL DO TOCANTINS',
 'SAO SALVADOR DO TOCANTINS',
 'SAO SEBASTIAO DO TOCANTINS',
 'SAO VALERIO',
 'SILVANOPOLIS',
 'SITIO NOVO DO TOCANTINS',
 'SUCUPIRA',
 'TAGUATINGA',
 'TAIPAS DO TOCANTINS',
 'TALISMA',
 'PALMAS',
 'TOCANTINIA',
 'TOCANTINOPOLIS',
 'TUPIRAMA',
 'TUPIRATINS',
 'WANDERLANDIA',
 'XAMBIOA',
 'ACAILANDIA',
 'AFONSO CUNHA',
 'AGUA DOCE DO MARANHAO',
 'ALCANTARA',
 'ALDEIAS ALTAS',
 'ALTAMIRA DO MARANHAO',
 'ALTO ALEGRE DO MARANHAO',
 'ALTO ALEGRE DO PINDARE',
 'ALTO PARNAIBA',
 'AMAPA DO MARANHAO',
 'AMARANTE DO MARANHAO',
 'ANAJATUBA',
 'ANAPURUS',
 'APICUM-ACU',
 'ARAGUANA',
 'ARAIOSES',
 'ARAME',
 'ARARI',
 'AXIXA',
 'BACABAL',
 'BACABEIRA',
 'BACURI',
 'BACURITUBA',
 'BALSAS',
 'BARAO DE GRAJAU',
 'BARRA DO CORDA',
 'BARREIRINHAS',
 'BELAGUA',
 'BELA VISTA DO MARANHAO',
 'BENEDITO LEITE',
 'BEQUIMAO',
 'BERNARDO DO MEARIM',
 'BOA VISTA DO GURUPI',
 'BOM JARDIM',
 'BOM JESUS DAS SELVAS',
 'BOM LUGAR',
 'BREJO',
 'BREJO DE AREIA',
 'BURITI',
 'BURITI BRAVO',
 'BURITICUPU',
 'BURITIRANA',
 'CACHOEIRA GRANDE',
 'CAJAPIO',
 'CAJARI',
 'CAMPESTRE DO MARANHAO',
 'CANDIDO MENDES',
 'CANTANHEDE',
 'CAPINZAL DO NORTE',
 'CAROLINA',
 'CARUTAPERA',
 'CAXIAS',
 'CEDRAL',
 'CENTRAL DO MARANHAO',
 'CENTRO DO GUILHERME',
 'CENTRO NOVO DO MARANHAO',
 'CHAPADINHA',
 'CIDELANDIA',
 'CODO',
 'COELHO NETO',
 'COLINAS',
 'CONCEICAO DO LAGO-ACU',
 'COROATA',
 'CURURUPU',
 'DAVINOPOLIS',
 'DOM PEDRO',
 'DUQUE BACELAR',
 'ESPERANTINOPOLIS',
 'ESTREITO',
 'FEIRA NOVA DO MARANHAO',
 'FERNANDO FALCAO',
 'FORMOSA DA SERRA NEGRA',
 'FORTALEZA DOS NOGUEIRAS',
 'FORTUNA',
 'GODOFREDO VIANA',
 'GONCALVES DIAS',
 'GOVERNADOR ARCHER',
 'GOVERNADOR EDISON LOBAO',
 'GOVERNADOR EUGENIO BARROS',
 'GOVERNADOR LUIZ ROCHA',
 'GOVERNADOR NEWTON BELLO',
 'GOVERNADOR NUNES FREIRE',
 'GRACA ARANHA',
 'GRAJAU',
 'GUIMARAES',
 'HUMBERTO DE CAMPOS',
 'ICATU',
 'IGARAPE DO MEIO',
 'IGARAPE GRANDE',
 'IMPERATRIZ',
 'ITAIPAVA DO GRAJAU',
 'ITAPECURU MIRIM',
 'ITINGA DO MARANHAO',
 'JATOBA',
 'JENIPAPO DOS VIEIRAS',
 'JOAO LISBOA',
 'JOSELANDIA',
 'JUNCO DO MARANHAO',
 'LAGO DA PEDRA',
 'LAGO DO JUNCO',
 'LAGO VERDE',
 'LAGOA DO MATO',
 'LAGO DOS RODRIGUES',
 'LAGOA GRANDE DO MARANHAO',
 'LAJEADO NOVO',
 'LIMA CAMPOS',
 'LORETO',
 'LUIS DOMINGUES',
 'MAGALHAES DE ALMEIDA',
 'MARACACUME',
 'MARAJA DO SENA',
 'MARANHAOZINHO',
 'MATA ROMA',
 'MATINHA',
 'MATOES',
 'MATOES DO NORTE',
 'MILAGRES DO MARANHAO',
 'MIRADOR',
 'MIRANDA DO NORTE',
 'MIRINZAL',
 'MONCAO',
 'MONTES ALTOS',
 'MORROS',
 'NINA RODRIGUES',
 'NOVA COLINAS',
 'NOVA IORQUE',
 'NOVA OLINDA DO MARANHAO',
 'OLHO D`AGUA DAS CUNHAS',
 'OLINDA NOVA DO MARANHAO',
 'PACO DO LUMIAR',
 'PALMEIRANDIA',
 'PARAIBANO',
 'PARNARAMA',
 'PASSAGEM FRANCA',
 'PASTOS BONS',
 'PAULINO NEVES',
 'PAULO RAMOS',
 'PEDREIRAS',
 'PEDRO DO ROSARIO',
 'PENALVA',
 'PERI MIRIM',
 'PERITORO',
 'PINDARE-MIRIM',
 'PINHEIRO',
 'PIO XII',
 'PIRAPEMAS',
 'POCAO DE PEDRAS',
 'PORTO FRANCO',
 'PORTO RICO DO MARANHAO',
 'PRESIDENTE DUTRA',
 'PRESIDENTE JUSCELINO',
 'PRESIDENTE MEDICI',
 'PRESIDENTE SARNEY',
 'PRESIDENTE VARGAS',
 'PRIMEIRA CRUZ',
 'RAPOSA',
 'RIACHAO',
 'RIBAMAR FIQUENE',
 'ROSARIO',
 'SAMBAIBA',
 'SANTA FILOMENA DO MARANHAO',
 'SANTA HELENA',
 'SANTA INES',
 'SANTA LUZIA',
 'SANTA LUZIA DO PARUA',
 'SANTA QUITERIA DO MARANHAO',
 'SANTA RITA',
 'SANTANA DO MARANHAO',
 'SANTO AMARO DO MARANHAO',
 'SANTO ANTONIO DOS LOPES',
 'SAO BENEDITO DO RIO PRETO',
 'SAO BENTO',
 'SAO BERNARDO',
 'SAO DOMINGOS DO AZEITAO',
 'SAO DOMINGOS DO MARANHAO',
 'SAO FELIX DE BALSAS',
 'SAO FRANCISCO DO BREJAO',
 'SAO FRANCISCO DO MARANHAO',
 'SAO JOAO BATISTA',
 'SAO JOAO DO CARU',
 'SAO JOAO DO PARAISO',
 'SAO JOAO DO SOTER',
 'SAO JOAO DOS PATOS',
 'SAO JOSE DE RIBAMAR',
 'SAO JOSE DOS BASILIOS',
 'SAO LUIS',
 'SAO LUIS GONZAGA DO MARANHAO',
 'SAO MATEUS DO MARANHAO',
 'SAO PEDRO DA AGUA BRANCA',
 'SAO PEDRO DOS CRENTES',
 'SAO RAIMUNDO DAS MANGABEIRAS',
 'SAO RAIMUNDO DO DOCA BEZERRA',
 'SAO ROBERTO',
 'SAO VICENTE FERRER',
 'SATUBINHA',
 'SENADOR ALEXANDRE COSTA',
 'SENADOR LA ROCQUE',
 'SERRANO DO MARANHAO',
 'SITIO NOVO',
 'SUCUPIRA DO NORTE',
 'SUCUPIRA DO RIACHAO',
 'TASSO FRAGOSO',
 'TIMBIRAS',
 'TIMON',
 'TRIZIDELA DO VALE',
 'TUFILANDIA',
 'TUNTUM',
 'TURIACU',
 'TURILANDIA',
 'TUTOIA',
 'URBANO SANTOS',
 'VARGEM GRANDE',
 'VIANA',
 'VILA NOVA DOS MARTIRIOS',
 'VITORIA DO MEARIM',
 'VITORINO FREIRE',
 'ZE DOCA',
 'ACAUA',
 'AGRICOLANDIA',
 'AGUA BRANCA',
 'ALAGOINHA DO PIAUI',
 'ALEGRETE DO PIAUI',
 'ALTO LONGA',
 'ALTOS',
 'ALVORADA DO GURGUEIA',
 'AMARANTE',
 'ANGICAL DO PIAUI',
 'ANISIO DE ABREU',
 'ANTONIO ALMEIDA',
 'AROAZES',
 'AROEIRAS DO ITAIM',
 'ARRAIAL',
 'ASSUNCAO DO PIAUI',
 'AVELINO LOPES',
 'BAIXA GRANDE DO RIBEIRO',
 'BARRA D`ALCANTARA',
 'BARRAS',
 'BARREIRAS DO PIAUI',
 'BARRO DURO',
 'BATALHA',
 'BELA VISTA DO PIAUI',
 'BELEM DO PIAUI',
 'BENEDITINOS',
 'BERTOLINIA',
 'BETANIA DO PIAUI',
 'BOA HORA',
 'BOCAINA',
 'BOM JESUS',
 'BOM PRINCIPIO DO PIAUI',
 'BONFIM DO PIAUI',
 'BOQUEIRAO DO PIAUI',
 'BRASILEIRA',
 'BREJO DO PIAUI',
 'BURITI DOS LOPES',
 'BURITI DOS MONTES',
 'CABECEIRAS DO PIAUI',
 'CAJAZEIRAS DO PIAUI',
 'CAJUEIRO DA PRAIA',
 'CALDEIRAO GRANDE DO PIAUI',
 'CAMPINAS DO PIAUI',
 'CAMPO ALEGRE DO FIDALGO',
 'CAMPO GRANDE DO PIAUI',
 'CAMPO LARGO DO PIAUI',
 'CAMPO MAIOR',
 'CANAVIEIRA',
 'CANTO DO BURITI',
 'CAPITAO DE CAMPOS',
 'CAPITAO GERVASIO OLIVEIRA',
 'CARACOL',
 'CARAUBAS DO PIAUI',
 'CARIDADE DO PIAUI',
 'CASTELO DO PIAUI',
 'CAXINGO',
 'COCAL',
 'COCAL DE TELHA',
 'COCAL DOS ALVES',
 'COIVARAS',
 'COLONIA DO GURGUEIA',
 'COLONIA DO PIAUI',
 'CONCEICAO DO CANINDE',
 'CORONEL JOSE DIAS',
 'CORRENTE',
 'CRISTALANDIA DO PIAUI',
 'CRISTINO CASTRO',
 'CURIMATA',
 'CURRAIS',
 'CURRALINHOS',
 'CURRAL NOVO DO PIAUI',
 'DEMERVAL LOBAO',
 'DIRCEU ARCOVERDE',
 'DOM EXPEDITO LOPES',
 'DOMINGOS MOURAO',
 'DOM INOCENCIO',
 'ELESBAO VELOSO',
 'ELISEU MARTINS',
 'ESPERANTINA',
 'FARTURA DO PIAUI',
 'FLORES DO PIAUI',
 'FLORESTA DO PIAUI',
 'FLORIANO',
 'FRANCINOPOLIS',
 'FRANCISCO AYRES',
 'FRANCISCO MACEDO',
 'FRANCISCO SANTOS',
 'FRONTEIRAS',
 'GEMINIANO',
 'GILBUES',
 'GUADALUPE',
 'GUARIBAS',
 'HUGO NAPOLEAO',
 'ILHA GRANDE',
 'INHUMA',
 'IPIRANGA DO PIAUI',
 'ISAIAS COELHO',
 'ITAINOPOLIS',
 'ITAUEIRA',
 'JACOBINA DO PIAUI',
 'JAICOS',
 'JARDIM DO MULATO',
 'JATOBA DO PIAUI',
 'JERUMENHA',
 'JOAO COSTA',
 'JOAQUIM PIRES',
 'JOCA MARQUES',
 'JOSE DE FREITAS',
 'JUAZEIRO DO PIAUI',
 'JULIO BORGES',
 'JUREMA',
 'LAGOINHA DO PIAUI',
 'LAGOA ALEGRE',
 'LAGOA DO BARRO DO PIAUI',
 'LAGOA DE SAO FRANCISCO',
 'LAGOA DO PIAUI',
 'LAGOA DO SITIO',
 'LANDRI SALES',
 'LUIS CORREIA',
 'LUZILANDIA',
 'MADEIRO',
 'MANOEL EMIDIO',
 'MARCOLANDIA',
 'MARCOS PARENTE',
 'MASSAPE DO PIAUI',
 'MATIAS OLIMPIO',
 'MIGUEL ALVES',
 'MIGUEL LEAO',
 'MILTON BRANDAO',
 'MONSENHOR GIL',
 'MONSENHOR HIPOLITO',
 'MONTE ALEGRE DO PIAUI',
 'MORRO CABECA NO TEMPO',
 'MORRO DO CHAPEU DO PIAUI',
 'MURICI DOS PORTELAS',
 'NAZARE DO PIAUI',
 'NAZARIA',
 'NOSSA SENHORA DE NAZARE',
 'NOSSA SENHORA DOS REMEDIOS',
 'NOVO ORIENTE DO PIAUI',
 'NOVO SANTO ANTONIO',
 'OEIRAS',
 'OLHO D`AGUA DO PIAUI',
 'PADRE MARCOS',
 'PAES LANDIM',
 'PAJEU DO PIAUI',
 'PALMEIRA DO PIAUI',
 'PALMEIRAIS',
 'PAQUETA',
 'PARNAGUA',
 'PARNAIBA',
 'PASSAGEM FRANCA DO PIAUI',
 'PATOS DO PIAUI',
 'PAU D`ARCO DO PIAUI',
 'PAULISTANA',
 'PAVUSSU',
 'PEDRO II',
 'PEDRO LAURENTINO',
 'NOVA SANTA RITA',
 'PICOS',
 'PIMENTEIRAS',
 'PIO IX',
 'PIRACURUCA',
 'PIRIPIRI',
 'PORTO',
 'PORTO ALEGRE DO PIAUI',
 'PRATA DO PIAUI',
 'QUEIMADA NOVA',
 'REDENCAO DO GURGUEIA',
 'REGENERACAO',
 'RIACHO FRIO',
 'RIBEIRA DO PIAUI',
 'RIBEIRO GONCALVES',
 'RIO GRANDE DO PIAUI',
 'SANTA CRUZ DO PIAUI',
 'SANTA CRUZ DOS MILAGRES',
 'SANTA FILOMENA',
 'SANTA LUZ',
 'SANTANA DO PIAUI',
 'SANTA ROSA DO PIAUI',
 'SANTO ANTONIO DE LISBOA',
 'SANTO ANTONIO DOS MILAGRES',
 'SANTO INACIO DO PIAUI',
 'SAO BRAZ DO PIAUI',
 'SAO FELIX DO PIAUI',
 'SAO FRANCISCO DE ASSIS DO PIAUI',
 'SAO FRANCISCO DO PIAUI',
 'SAO GONCALO DO GURGUEIA',
 'SAO GONCALO DO PIAUI',
 'SAO JOAO DA CANABRAVA',
 'SAO JOAO DA FRONTEIRA',
 'SAO JOAO DA SERRA',
 'SAO JOAO DA VARJOTA',
 'SAO JOAO DO ARRAIAL',
 'SAO JOAO DO PIAUI',
 'SAO JOSE DO DIVINO',
 'SAO JOSE DO PEIXE',
 'SAO JOSE DO PIAUI',
 'SAO JULIAO',
 'SAO LOURENCO DO PIAUI',
 'SAO LUIS DO PIAUI',
 'SAO MIGUEL DA BAIXA GRANDE',
 'SAO MIGUEL DO FIDALGO',
 'SAO MIGUEL DO TAPUIO',
 'SAO PEDRO DO PIAUI',
 'SAO RAIMUNDO NONATO',
 'SEBASTIAO BARROS',
 'SEBASTIAO LEAL',
 'SIGEFREDO PACHECO',
 'SIMOES',
 'SIMPLICIO MENDES',
 'SOCORRO DO PIAUI',
 'SUSSUAPARA',
 'TAMBORIL DO PIAUI',
 'TANQUE DO PIAUI',
 'TERESINA',
 'UNIAO',
 'URUCUI',
 'VALENCA DO PIAUI',
 'VARZEA BRANCA',
 'VARZEA GRANDE',
 'VERA MENDES',
 'VILA NOVA DO PIAUI',
 'WALL FERRAZ',
 'ABAIARA',
 'ACARAPE',
 'ACARAU',
 'ACOPIARA',
 'AIUABA',
 'ALCANTARAS',
 'ALTANEIRA',
 'ALTO SANTO',
 'AMONTADA',
 'ANTONINA DO NORTE',
 'APUIARES',
 'AQUIRAZ',
 'ARACATI',
 'ARACOIABA',
 'ARARENDA',
 'ARARIPE',
 'ARATUBA',
 'ARNEIROZ',
 'ASSARE',
 'AURORA',
 'BAIXIO',
 'BANABUIU',
 'BARBALHA',
 'BARREIRA',
 'BARRO',
 'BARROQUINHA',
 'BATURITE',
 'BEBERIBE',
 'BELA CRUZ',
 'BOA VIAGEM',
 'BREJO SANTO',
 'CAMOCIM',
 'CAMPOS SALES',
 'CANINDE',
 'CAPISTRANO',
 'CARIDADE',
 'CARIRE',
 'CARIRIACU',
 'CARIUS',
 'CARNAUBAL',
 'CASCAVEL',
 'CATARINA',
 'CATUNDA',
 'CAUCAIA',
 'CEDRO',
 'CHAVAL',
 'CHORO',
 'CHOROZINHO',
 'COREAU',
 'CRATEUS',
 'CRATO',
 'CROATA',
 'CRUZ',
 'DEPUTADO IRAPUAN PINHEIRO',
 'ERERE',
 'EUSEBIO',
 'FARIAS BRITO',
 'FORQUILHA',
 'FORTALEZA',
 'FORTIM',
 'FRECHEIRINHA',
 'GENERAL SAMPAIO',
 'GRACA',
 'GRANJA',
 'GRANJEIRO',
 'GROAIRAS',
 'GUAIUBA',
 'GUARACIABA DO NORTE',
 'GUARAMIRANGA',
 'HIDROLANDIA',
 'HORIZONTE',
 'IBARETAMA',
 'IBIAPINA',
 'IBICUITINGA',
 'ICAPUI',
 'ICO',
 'IGUATU',
 'INDEPENDENCIA',
 'IPAPORANGA',
 'IPAUMIRIM',
 'IPU',
 'IPUEIRAS',
 'IRACEMA',
 'IRAUCUBA',
 'ITAICABA',
 'ITAITINGA',
 'ITAPAGE',
 'ITAPIPOCA',
 'ITAPIUNA',
 'ITAREMA',
 'ITATIRA',
 'JAGUARETAMA',
 'JAGUARIBARA',
 'JAGUARIBE',
 'JAGUARUANA',
 'JARDIM',
 'JATI',
 'JIJOCA DE JERICOACOARA',
 'JUAZEIRO DO NORTE',
 'JUCAS',
 'LAVRAS DA MANGABEIRA',
 'LIMOEIRO DO NORTE',
 'MADALENA',
 'MARACANAU',
 'MARANGUAPE',
 'MARCO',
 'MARTINOPOLE',
 'MASSAPE',
 'MAURITI',
 ...]

In [72]:
# Capitalização, remoção de acentos, remoção da informação do UF (redundante)
dfEmLimpeza['Municipio_Nascimento'] = dfEmLimpeza['Municipio_Nascimento'].fillna("<NA>")
Funcoes.removerAcentos_PorMaiusculas(dfEmLimpeza, coluna='Municipio_Nascimento')
dfEmLimpeza['Municipio_Nascimento'] = dfEmLimpeza['Municipio_Nascimento'].str.replace(" - MG", '')
dfEmLimpeza['Municipio_Nascimento'] = dfEmLimpeza['Municipio_Nascimento'].str.replace(" - RJ", '')
cidadesDoDataframe = list(dfEmLimpeza['Municipio_Nascimento'].unique())

# Casos específicos de grafia incorreta

def ConsertaMunicipios(dfEntrada, cidadeErrada, cidadeCerta):
    dfEntrada['Municipio_Nascimento'] = dfEntrada['Municipio_Nascimento'].apply(lambda x: str(x).replace(cidadeErrada, cidadeCerta))
    return dfEntrada

dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'SAO JOAO DEL-REI', 'SAO JOAO DEL REI')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'VISCONDE DO RIO  BRANCO', 'VISCONDE DO RIO BRANCO')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'SAO BERNARDO DO CAMPOS', 'SAO BERNARDO DO CAMPO')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'AMPARO DA SERRA', 'AMPARO DO SERRA')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'OURO  PRETO', 'OURO PRETO')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'DUVAL DE BARROS', 'IBIRITE')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'DONA EUZEBIA', 'DONA EUSEBIA')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, 'MOGI-MIRIM', 'MOGI MIRIM')
dfEmLimpeza = ConsertaMunicipios(dfEmLimpeza, "SANTA BARBARA D'OESTE",'SANTA BARBARA D`OESTE')

In [73]:
dfEmLimpeza

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA,Area
0,29271,1982.0,M,CAV,1101,ADMINISTRACAO,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS SOCIAIS APLICADAS
1,29272,1982.0,M,CAV,1101,ADMINISTRACAO,DF,BRASILIA,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3,Informação não disponível,71.2,CIENCIAS SOCIAIS APLICADAS
2,34462,1979.0,F,CAV,1101,ADMINISTRACAO,MG,VICOSA,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3,Informação não disponível,78.5,CIENCIAS SOCIAIS APLICADAS
3,34468,1979.0,F,CAV,1101,ADMINISTRACAO,MG,BELO HORIZONTE,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20,Pardo(a),56.0,CIENCIAS SOCIAIS APLICADAS
4,34470,1980.0,F,CAV,1101,ADMINISTRACAO,SP,SAO PAULO,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1,Informação não disponível,76.9,CIENCIAS SOCIAIS APLICADAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,172112,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE
74022,172110,1995.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74023,172113,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74024,172114,1998.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74025,172082,2000.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE

Antes de realizar a filtragem para substituir as cidades que não estão presentes no _dataset_ de cidades brasileiras por 'OUTROS', deve-se ressaltar que o seu conteúdo é muito diverso e poluído; intratável para as análises propostas pelo grupo.

In [74]:
list(dfEmLimpeza['Municipio_Nascimento'][~dfEmLimpeza['Municipio_Nascimento'].isin(cidades)].sort_values().unique())

['<NA>',
 'ACAILANCIA',
 'ADAMATINA',
 'AICHI-KEN',
 'ALBERTO ISAACSON',
 'ALEMANHA',
 'ALMADA',
 'ALTO DO CAPARAO',
 'ALTO DO RIO DOCE',
 'AMES',
 'AMES - IOWA',
 'ANGERS',
 'ANTOFAGASTA',
 'ARACE',
 'ARARAGUARA',
 'ARECIBO',
 'AREQUIPA',
 'ARGENTINA',
 'ARTIGAS - URUGUAI',
 'ASSOMADA - CABO VERDE',
 'ASUNCION',
 'ATHENS',
 'BAFATA',
 'BAFATO - GUINE BISSAU',
 'BAHIA BLANCA - BUENOS AIRES',
 'BALBINOPOLIS',
 'BANEY-BIOKO NORTE',
 'BARBADOS',
 'BARRA DO SAO FRANCISCO',
 'BELEM DO PARA',
 'BENGUELA - LOBITO',
 'BENONI',
 'BERLIM',
 'BISSAU',
 'BISSAU - AFRICA OCIDENTAL',
 'BISSAU - BISSAU',
 'BISSAU - GUINE BISSAU',
 'BISSAU - S. A. BISSAU',
 'BOA VISTA DE MINAS',
 'BOHICON',
 'BOM JESUS DA CACHOEIRA',
 'BOM JESUS DE ITABAPOANA',
 'BOSTON',
 'BOSTON - MASSACHUSETTS',
 'BOSTON-MASSACHUSETTS',
 'BRA',
 'BRAZLANDIA',
 'BRIDGEPORT',
 'BRLO HORIZONTE',
 'BROWARD COUNTY',
 'BRUXELAS - BELGICA',
 'BRYN MAWR',
 'BUENOS AIREA',
 'BURANHEM',
 'CACHEU',
 'CACHOEIRINHO DE ITAPEMIRIM',
 'CAITITE',
 'CALAMBAU',
 'CALIFORNIA - EUA',
 'CAMACA',
 'CAMBRIDGE',
 'CAMBRIGDE MASSACHUSETTS',
 'CAMO DO PARANAIBA',
 'CAMP-PERRIN',
 'CAMPENAS',
 'CAMPOS',
 'CAMPOS GOYTACAZES',
 'CANCHUNGO/CACHEU',
 'CAPARO',
 'CARACAS',
 'CARANTINGA',
 'CARATINGA- MG',
 'CARMO DO PARAIBA',
 'CARMO DO PARANAIBA MG',
 'CASCAIS',
 'CATAGUAES',
 'CEILANDIA',
 'CHILE',
 'CHITA  -  AICHI',
 'CISNEIROS',
 'CLAMART - FRANCA',
 'COCHABAMBA',
 'COLATINA - ES',
 'CONCEICAO DO  RIO VERDE',
 'CONCEICAO-AGUA GRANDE',
 'CONELHEIRO LAFAIETE',
 'CONSELHEIRO  LAFAIETE',
 'CONSELHEIRO LAFAETE',
 'CONSELHEIRO LAFAITE',
 'CONTUBOEL - BAFATA',
 'COTA',
 'CUNDINAMARCA - BOGOTA',
 'CURICO - CHILE',
 'CUSCO',
 'DANBURY, CONNECTICUT',
 'DF',
 "DIAS D'AVILA",
 'DORES DA VITORIA',
 'EDIMBURGO',
 'EDINA-MISSOTA',
 'EL CARMEN, MANABI',
 'ELDA',
 'EMBU',
 'ESPERE FELIZ',
 'FALTA',
 'FALTA CERTIDAO',
 'FEIRA DE  SANTANA',
 'FELTRE - BELLUNO',
 'FERRAZ DE VASCOCELOS',
 'FLORIDA, EUA',
 'FORT COLLINS',
 'FORT LAUDERDALE',
 'FRAMINGHAM',
 'FRAMINGHAM-MASSACHUSSETTS',
 'FUJISAWA-SHI',
 'FUJISAWA-SHI - KANAGAWA',
 'FUKUI',
 'FUKUYAMA',
 'FUNCHAL',
 'GABU',
 'GARANGOLA',
 'GENSVILLE',
 'GOTEMBA-SHIZUOKA',
 'GOVENADOR VALADARES',
 'GRANADA',
 'GUARATINQUETA',
 'GURACIABA',
 'GYODA-SHI',
 'HARARE',
 'HUAMBO',
 'HUANCAVELICA/HUANCAVELICA',
 'HUANCAYO',
 'ICHIHARA',
 'ILHAS COMORES',
 'IMBARIE',
 'INDIANAPOLIS',
 'INHAMBANE',
 'IPASTINGA',
 'IPATAINGA',
 'IPAUCU',
 'ITABIRINHA DE MANTENA',
 'ITAMARADIBA',
 'ITAMURI',
 'ITAOETINGA',
 'ITAPECURU',
 'JABOATAO DO GUARARAPES',
 'JAQUERI',
 'JOAO   MONLEVADE',
 'JOAO  MONLEVADE',
 'JOAO MOLEVADE',
 'JUIIZ DE FORA',
 'JUIZ  DE FORA',
 'JUIZ DE FORRA',
 'JUNDAI',
 'KISARAZU',
 'KITA AZUMI-GUN',
 'KLAGENFURT WORTHERSEE/KARNTEN',
 'KORIYMA',
 'LA CEIBA - ATLANTIDA',
 'LACEIBA',
 'LAFAYETTE',
 'LAFAYETTE - INDIANA',
 'LAFAYETTE INDIANA',
 'LAFAYETTE-INDIANA',
 "LAGOA D'ANTA",
 'LANCASTER',
 'LANSING-MICHIGAN',
 'LARANJAIS',
 'LAUSANNE',
 'LECCE/LE',
 'LEON',
 'LIBREVILLE',
 'LIEGE',
 'LIMA',
 'LISBOA',
 'LOBATA',
 'LOBITO - BENGUELA',
 'LONDRES',
 'LONG BRANCH - NEW JERSEY',
 'LOWELL',
 'LUANDA',
 'LUBANGO - ANGOLA',
 'LUIZBURGO',
 'MADRI',
 'MAIANGA - LUANDA',
 'MAINZ',
 'MANAGUA',
 'MANCHESTER - INGLATERRA',
 'MAPUTO',
 'MAPUTO - MAPUTO',
 'MASSACHUSETTS',
 'MEDELLIN',
 'MEDINA GOUNASS - SENEGAL',
 'MG',
 'MIAMI - FLORIDA',
 'MILAO',
 'MINAKUCHI',
 'MINDELO - CABO VERDE',
 'MINDELO - SAO VICENTE',
 'MINNESOTA',
 "MIRASSOL D'OESTE",
 'MOGI MIRIM',
 'MOGI-GUACU',
 'MOJI GUACU',
 'MONTES CLARAS',
 'MONTEVIDEU - URUGUAI',
 'MOSCOU',
 'MUCARI - MALANGE - ANGOLA',
 'MURIAAE',
 'NAGAHAMA - SHIGA',
 'NAGOIA',
 'NANCY',
 'NANCY-MEURTHE-ET-MOSELLE',
 'NDIEYENE SIRAKH',
 'NEUSS',
 'NEW YORK',
 'NEWARK',
 'NISHIO',
 'NISHIO - AICHI',
 'NOSSA SENHORA DA GRACA',
 'NOSSA SENHORA DA GRACA - PRAIA',
 'NOSSA SENHORA DA LUZ',
 'NOSSA SENHORA DA LUZ/SAO VICEN',
 'NOVA JERSEY',
 'NOVA YORK',
 'NOVA-IORQUE',
 'NYACK',
 "OLHOS-D'AGUA",
 'OMAHA',
 'OSASCO/SP',
 'PADERNEIRAS',
 'PADRE FIALHO',
 'PADRE PINTO',
 "PALMEIRA D'OESTE",
 'PANANBI',
 'PAPAGAIO',
 'PARAGUAI',
 'PARATI',
 'PARIS',
 'PARIS - FRANCA',
 'PARQUE INDUSTRILA',
 'PASSA-QUATRO',
 'PASTO - NARINO',
 'PASTOS-BONS',
 'PATOCINIO',
 'PATOS DE MNINAS',
 'PATOSD DE MINAS',
 'PEDRO JUAN CABALLERO',
 'PENDENTE',
 'PENHA DO CAPIM',
 'PENHA DO COCO',
 'PEQUIE',
 'PERUS',
 'PIABETA',
 'PIACATUBA',
 'PIRAPANEMA',
 'PIUNHI',
 'PLYMOUTH, MASSACHUSETS',
 'PONTE  NOVA',
 'PORT-GENTIL',
 'PORTERINHA',
 'PORTLAND - OREGON',
 'PORTO FRIME',
 'PORTO NOVO',
 'PORTO PRINCIPE',
 'PORTUGAL',
 'PRAIA',
 'PRAIA - CABO VERDE',
 'PRAIA-CABO VERDE',
 'PUNO',
 'QUEBEC',
 'QUEENS',
 'QUELFES OLHAO',
 'QUITO',
 'RALEIGH',
 'RAMADI',
 'RAUL SORES',
 'READING - INGLATERRA',
 'REPUBLICA DO CONGO',
 'REPUBLICA DO PANAMA',
 'RIBEIRAO DE SAO DOMINGOS',
 'RIBEIRO DE CAMPO DE CAO',
 'RIBEIRO PRETO',
 'RIO DE JANAIRO',
 'RIO MELO',
 'ROCHA',
 'ROCHA - URUGUAI',
 'ROMA',
 'SAINT-MARTIN-D HERES',
 'SALINAS - CALIFORNIA - EUA',
 'SALTA - ARGENTINA',
 'SAMBA',
 'SAMBA - LUANDA',
 'SAN DIEGO',
 'SAN INACIO',
 'SAN JOSE',
 'SAN MATIAS',
 'SAN PEDRO SULA - CORTES',
 'SAN REMO',
 'SANAR',
 'SANTA ANA',
 'SANTA BABARA',
 "SANTA BABARA D'OESTE",
 'SANTA BARBARA D OESTE',
 'SANTA BARBARA DOESTE',
 "SANTA LUZIA D'OESTE",
 'SANTA MARIA  DO SUAUI',
 'SANTA RITA DA FLORESTA',
 'SANTA RITA DE OURO PRETO',
 'SANTANA DO ARACUAI',
 'SANTANA DO MSNHUACU',
 'SANTIAGO - CHILE',
 'SANTO ANTONIO DE PIRAPETINGA',
 'SANTO ANTONIO DO GLORIA',
 'SANTO ANTONIO DO LEITE',
 'SANTO DOMINGO',
 'SAO BERNADO DO CAMPO',
 'SAO FRANCISCO XAVIER-LISBOA',
 'SAO GABRIEL  DA PALHA',
 'SAO GABRIEL DA PALMA',
 'SAO GRABRIEL DA PALHA',
 'SAO JAO DE MERETI',
 'SAO JOSE DOS CALCADOS',
 'SAO LORENCO',
 'SAO MIGUEL DO ARCANJO',
 'SAO MIGUEL PAULISTA',
 'SAO PEDRO DE RATES',
 'SAO PEDRO DO AVAI',
 'SAO PEDRO DO GLORIA',
 'SAO SEBASTIAO DO GRAMA',
 'SAO SEBASTIAO DO SACRAMENTO',
 'SAO VICENTE - CABO VERDE',
 'SAO VICENTE DO GRAMA',
 'SECTION NORD DE P-AU-P',
 'SEM PEIXE',
 'SENADOR MOURAO',
 'SENHORA DO REMEDIOS',
 'SERECITA',
 'SETE  LAGOA',
 'SETTLEMENT OF KOMINTERN',
 'SIDNEY - AUSTRALIA',
 'ST. MAARTEN',
 'SUCRE',
 'SYDNEY',
 'SYDNEY -NEW SOUTH WALES',
 'TAQUATINGA',
 'TARUMIRIN',
 'TEGUCIGALPA -  HONDURAS',
 'TEIXEIRA DE FREIAS',
 'TETE - TETE',
 'TOCATINS',
 'TOMAR',
 'TOQUIO',
 'TORONTO',
 'TORRANCE',
 'TOYOTA',
 'TOYOTA - AICHI',
 'TOYOTA - JAPAO',
 'TUPA RENDA',
 "UBERABA'",
 'UBERLANCIA',
 'UERLANDIA',
 'USTER - ZURICH',
 'VALENCIA',
 'VCOSA',
 'VESPARIANO',
 'VICOSENSE',
 'VILA DE CARABUCU',
 'VIRGINIA BEACH - VIRGINIA',
 'VITORINOS',
 'VLAARDINGEM',
 'WERKENDAM',
 'WESTMINSTER - LONDRES',
 'WIESBADEN',
 'WISCONSIN',
 'WORCESTER - MASSACHUSETTS',
 'ZAMA - KANAGAWA']

In [75]:
dfEmLimpeza

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA,Area
0,29271,1982.0,M,CAV,1101,ADMINISTRACAO,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS SOCIAIS APLICADAS
1,29272,1982.0,M,CAV,1101,ADMINISTRACAO,DF,BRASILIA,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3,Informação não disponível,71.2,CIENCIAS SOCIAIS APLICADAS
2,34462,1979.0,F,CAV,1101,ADMINISTRACAO,MG,VICOSA,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3,Informação não disponível,78.5,CIENCIAS SOCIAIS APLICADAS
3,34468,1979.0,F,CAV,1101,ADMINISTRACAO,MG,BELO HORIZONTE,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20,Pardo(a),56.0,CIENCIAS SOCIAIS APLICADAS
4,34470,1980.0,F,CAV,1101,ADMINISTRACAO,SP,SAO PAULO,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1,Informação não disponível,76.9,CIENCIAS SOCIAIS APLICADAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,172112,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE
74022,172110,1995.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74023,172113,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74024,172114,1998.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74025,172082,2000.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,<NA>,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE

In [76]:
# Testando a operação de concat

dfMunicipiosCorretos = dfEmLimpeza[dfEmLimpeza['Municipio_Nascimento'].isin(cidades)]
dfMunicipiosErrados = dfEmLimpeza[~dfEmLimpeza['Municipio_Nascimento'].isin(cidades)]
a = pd.concat([dfMunicipiosCorretos, dfMunicipiosErrados]).set_index('Identificador').sort_index().compare(dfEmLimpeza.set_index('Identificador').sort_index())
a

Empty DataFrame
Columns: []
Index: []

In [77]:
dfMunicipiosErrados['Municipio_Nascimento'] = 'OUTROS' # Substituindo todos os países errados por outros

C:\Users\guizo\AppData\Local\Temp\ipykernel_22652\2580808330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMunicipiosErrados['Municipio_Nascimento'] = 'OUTROS' # Substituindo todos os países errados por outros

In [78]:
# Juntando tudo num único dataframe:
dfEmLimpeza = pd.concat([dfMunicipiosCorretos, dfMunicipiosErrados])
dfEmLimpeza

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA,Area
0,29271,1982.0,M,CAV,1101,ADMINISTRACAO,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS SOCIAIS APLICADAS
1,29272,1982.0,M,CAV,1101,ADMINISTRACAO,DF,BRASILIA,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3,Informação não disponível,71.2,CIENCIAS SOCIAIS APLICADAS
2,34462,1979.0,F,CAV,1101,ADMINISTRACAO,MG,VICOSA,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3,Informação não disponível,78.5,CIENCIAS SOCIAIS APLICADAS
3,34468,1979.0,F,CAV,1101,ADMINISTRACAO,MG,BELO HORIZONTE,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20,Pardo(a),56.0,CIENCIAS SOCIAIS APLICADAS
4,34470,1980.0,F,CAV,1101,ADMINISTRACAO,SP,SAO PAULO,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1,Informação não disponível,76.9,CIENCIAS SOCIAIS APLICADAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,172112,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,OUTROS,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE
74022,172110,1995.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,OUTROS,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74023,172113,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,OUTROS,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74024,172114,1998.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,OUTROS,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE
74025,172082,2000.0,<NA>,CAV,1153,EDUCACAO FISICA,<NA>,OUTROS,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE

### Unidades Federativas

Para as unidades federativas, pouco tratamento é necessário.

In [79]:
dfEmLimpeza['UF_Nascimento'] = dfEmLimpeza['UF_Nascimento'].str.replace(' ','')
dfEmLimpeza['UF_Nascimento'] = dfEmLimpeza['UF_Nascimento'].str.replace('  ','')
dfEmLimpeza['UF_Nascimento'] = dfEmLimpeza['UF_Nascimento'].fillna('')
print(dfEmLimpeza['UF_Nascimento'].unique())
len(dfEmLimpeza['UF_Nascimento'].unique())

<StringArray>
['RJ', 'DF', 'MG', 'SP', 'BA', 'ES', 'GO', 'PR', 'SE', 'PA', 'MS', 'RS', 'RO',
 'SC', 'MA', 'PE', 'MT', 'AM', 'TO',   '', 'AL', 'CE', 'AP', 'AC', 'PB', 'RN',
 'PI', 'RR']
Length: 28, dtype: string

28

### Admissão e saída

Os campos admissão e saída tem sempre o formato 'ano/semestre'. Para fins de análise, porém,é útil ter acesso ao ano e ao semestre separadamente.

In [80]:
# Separando a admissão em duas novas colunas, Admissao_Ano e Admissao_Semestre
dfEmLimpeza[["Admissao_Ano", "Admissao_Semestre"]] = dfEmLimpeza["Admissao"].str.split('/', n=1, expand=True).astype('int64')
# Fazendo o mesmo para a saída
dfEmLimpeza[["Saida_Ano", "Saida_Semestre"]] = dfEmLimpeza["Saida"].str.split('/', n=1, expand=True).fillna('0').astype('int64')
dfEmLimpeza[["Admissao", "Admissao_Ano", "Admissao_Semestre", "Saida", "Saida_Ano", "Saida_Semestre"]]

,Admissao,Admissao_Ano,Admissao_Semestre,Saida,Saida_Ano,Saida_Semestre
0,2000/1,2000,1,2000/1,2000,1
1,2000/1,2000,1,2002/1,2002,1
2,2000/1,2000,1,2005/1,2005,1
3,2000/1,2000,1,2006/1,2006,1
4,2000/1,2000,1,2004/2,2004,2
...,...,...,...,...,...,...
74021,2023/1,2023,1,0,0,0
74022,2023/1,2023,1,0,0,0
74023,2023/1,2023,1,0,0,0
74024,2023/1,2023,1,0,0,0
74025,2023/1,2023,1,0,0,0

## Criando arquivo limpo

Por fim, basta exportar o dataframe como csv e usá-lo para as análises

In [81]:
dfEmLimpeza = dfEmLimpeza.set_index('Identificador')
dfEmLimpeza

,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,...,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA,Area,Admissao_Ano,Admissao_Semestre,Saida_Ano,Saida_Semestre
Identificador,,,,,,,,,,,,,,,,,,,,,
29271,1982.0,M,CAV,1101,ADMINISTRACAO,RJ,VOLTA REDONDA,2000/1,2000/1,A,...,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS SOCIAIS APLICADAS,2000,1,2000,1
29272,1982.0,M,CAV,1101,ADMINISTRACAO,DF,BRASILIA,2000/1,2002/1,A,...,0.0,NaN,3,Informação não disponível,71.2,CIENCIAS SOCIAIS APLICADAS,2000,1,2002,1
34462,1979.0,F,CAV,1101,ADMINISTRACAO,MG,VICOSA,2000/1,2005/1,C,...,0.0,NaN,3,Informação não disponível,78.5,CIENCIAS SOCIAIS APLICADAS,2000,1,2005,1
34468,1979.0,F,CAV,1101,ADMINISTRACAO,MG,BELO HORIZONTE,2000/1,2006/1,C,...,0.0,NaN,20,Pardo(a),56.0,CIENCIAS SOCIAIS APLICADAS,2000,1,2006,1
34470,1980.0,F,CAV,1101,ADMINISTRACAO,SP,SAO PAULO,2000/1,2004/2,C,...,0.0,NaN,1,Informação não disponível,76.9,CIENCIAS SOCIAIS APLICADAS,2000,1,2004,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172112,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,,OUTROS,2023/1,0,N,...,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE,2023,1,0,0
172110,1995.0,<NA>,CAV,1153,EDUCACAO FISICA,,OUTROS,2023/1,0,N,...,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE,2023,1,0,0
172113,1996.0,<NA>,CAV,1153,EDUCACAO FISICA,,OUTROS,2023/1,0,N,...,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE,2023,1,0,0
172114,1998.0,<NA>,CAV,1153,EDUCACAO FISICA,,OUTROS,2023/1,0,N,...,0.0,NaN,0,Informação não disponível,NaN,CIENCIAS DA SAUDE,2023,1,0,0
172082,2000.0,<NA>,CAV,1153,EDUCACAO FISICA,,OUTROS,2023/1,0,N,...,0.0,NaN,0,Informação não disponível,0.0,CIENCIAS DA SAUDE,2023,1,0,0

In [82]:
dfEmLimpeza.to_csv('../Datasets/dadosFiltrados.csv')